<!DOCTYPE html>
<html>
<head>
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>Shopping Cart</h1>
    <ul>
        <% cart.forEach(item => { %>
            <li><%= item.name %> - $<%= item.price %></li>
        <% }) %>
    </ul>
    <a href="/">Back to Products</a>
</body>
</html>
